<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/en_pie_nav.css">
    <link rel="stylesheet" href="../css/login.css">
    <title>Login</title>
    <link rel="icon" href="../img/login.jpg">
</head>
<body>
    <div class="encabezado">
        <img src="../img/encabezado.jpg" width="40%" height="60%">
    </div>
    <header>
        <div class="naveg">
            <nav>
                <ul>
                    <a href="personal-a.html" target="_blank"><li class="nave">Admin</li></a>
                    <a href="personal-e.html" target="_blank"><li class="nave">Empleados</li></a>
                    <a href="pesonal-j.html" target="_blank"><li class="nave">Jefes</li></a>
                </ul>
            </nav>
        </div>
    </header>
    <div class="general">
        <h1>Esta pagina es para que pueda dirigirse a los diferentes usuarios, ya que el inicio de sesión no tiene funcionamiento, por ende no redirecciona a las paginas de los usuarios. </h1>
    </div>
    <footer>
        <p>Cl. 15 #2160, Soledad, Atlántico</p>
        <p>Telefono: +57 3145410393</p>
        <p class="copyright-text ">Copyright &copy; 2022 All Rights Reserved by ITSA</p>
    </footer>
</body>
</html>